*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    color: white;
    background-color: black;
}

#taskbar{
    height: 40px;
    background-color: green;

}
main{
    height: calc(100vh - 130px);
    overflow: auto;
}

main section.gallery{
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;

}

article{
width: 250px;
height: 150px;
position: relative;
}

article span.partecipant-name{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: ;
    padding: 0 2rem;


}

article img.partecipant-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

header{
    height: 90px;
    background-color: pink;
}